{% if session.get('role') == 'Superusuario' %}
<div class="dropdown dropup">
    <a href="#" class="btn-global-add dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="Herramientas de Admin" style="text-decoration: none;">
        <i class="bi bi-tools fs-4"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end shadow-lg border-0 mb-2 p-2" style="background: rgba(255, 255, 255, 0.85); backdrop-filter: blur(15px); border-radius: 1rem; right: 20px;">
        <li><a class="dropdown-item fw-bold text-dark rounded d-flex align-items-center py-2" href="/eventos"><i class="bi bi-plus-circle text-orange me-2 fs-5"></i> Crear Caminata</a></li>
        <li><hr class="dropdown-divider opacity-25"></li>
        <li><a class="dropdown-item fw-bold text-dark rounded d-flex align-items-center py-2" href="#" data-bs-toggle="modal" data-bs-target="#calendarioModal"><i class="bi bi-easel text-orange me-2 fs-5"></i> Arte de Calendario</a></li>
        <li><hr class="dropdown-divider opacity-25"></li>
        <li><a class="dropdown-item fw-bold text-dark rounded d-flex align-items-center py-2" href="#" onclick="abrirGeneradorLinks()"><i class="bi bi-link-45deg text-orange me-2 fs-5"></i> Link de Inscripción</a></li>
        <li><hr class="dropdown-divider opacity-25"></li>
        <li><a class="dropdown-item fw-bold text-dark rounded d-flex align-items-center py-2" href="/gestor-fechas"><i class="bi bi-calendar-check text-orange me-2 fs-5"></i> Gestor de Fechas</a></li>
        <li><hr class="dropdown-divider opacity-25"></li>
        <li><a class="dropdown-item fw-bold text-dark rounded d-flex align-items-center py-2" href="/dashboard"><i class="bi bi-journal-medical text-orange me-2 fs-5"></i> Agenda</a></li>
        <li><hr class="dropdown-divider opacity-25"></li>
        <li><a class="dropdown-item fw-bold text-dark rounded d-flex align-items-center py-2" href="/admin/publicaciones"><i class="bi bi-calendar-event text-orange me-2 fs-5"></i> Evento Social</a></li>
        <li><hr class="dropdown-divider opacity-25"></li>
        <li><a class="dropdown-item fw-bold text-dark rounded d-flex align-items-center py-2" href="/formularios"><i class="bi bi-clipboard-data text-orange me-2 fs-5"></i> Formularios</a></li>
        <li><hr class="dropdown-divider opacity-25"></li>
        <li><a class="dropdown-item fw-bold text-dark rounded d-flex align-items-center py-2" href="/admin/rifas"><i class="bi bi-ticket-perforated text-orange me-2 fs-5"></i> Rifas</a></li>
    </ul>
</div>
<style>
    .btn-global-add.dropdown-toggle::after { display: none !important; }
</style>
{% endif %}
